
<div class="form-group">
  <label>Search Text</label>
  <input class="form-control" [(ngModel)]='searchValue' type="search" placeholder="Please enter some text" />
</div>
<div class="form-group">
    <button class="btn btn-primary" (click)="getAlbums(searchValue)" [disabled]="!searchValue">Search</button>
</div>
<div *ngIf="albums">
  <div class="form-group">
    <div class="text-right">
      <label>Sort by &nbsp;</label>
      <select [(ngModel)]="sortValue" (change)="sortAlbums();">
        <option [value]="s" *ngFor="let s of sortOptions">{{s}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <ul>
      <li [title]="'Album Name: ' + album.albumName + '&#013;Artist Name: ' + album.artistName"
          *ngFor="let album of albums | paginate: { id: 'listing_pagination',
                                                    itemsPerPage: 10,
                                                    currentPage: page,
                                                    totalItems: totalRec}; index as i">
        <img src="{{album.imageUrl}}" class="img" width="200" height="150" (click)="openImage(i)" />
      </li>
    </ul>
    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
